doctype html
html
  head

    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')

    title Stormcloud Garage Door

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type=';image/x-icon')


  body
    h1 Door is <span id="door-status">#{door_status}</span>

    button#trigger-door Trigger door
    div#logs


    //-script(type='text/javascript', src='https://unpkg.com/axios/dist/axios.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(
      src='https://code.jquery.com/jquery-3.3.1.min.js',
      integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=',
      crossorigin='anonymous'
    )
    script(type='text/javascript').
      (function() {
        const socket = io();
        socket.on('door status', (ds) => {
          $('span#door-status').text(ds);
        });

        $('button#trigger-door').click(function() {
          $.ajax({
            url: '/trigger-door',
            type: 'POST',
            dataType: 'text',
            success: function(data) {
              $('div#logs').append('<p>'+data+'</p>');
            }
          });

        });
      })();
