doctype html
html
  head

    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')

    title Stormcloud Garage Door

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type=';image/x-icon')


  body
    div#main
      h1 Door is <span id="door-status">#{door_status}</span>

      button#trigger-door Trigger door
      div#logs

    div#signin
      input(type='text')#name
      input(type='password')#pw
      button#submit Sign in

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(
      src='https://code.jquery.com/jquery-3.3.1.min.js',
      integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=',
      crossorigin='anonymous'
    )
    script(type='text/javascript').
      (function() {
        const h = !{JSON.stringify(h)}
        const socket = io.connect(h);

        const setupSocket = (token) => {

          socket.on('connect', () => {
            socket.on('authenticated', () => {

              socket.on('door status', (ds) => {
                $('span#door-status').text(ds);
              });

              $('button#trigger-door').click(() => {
                socket.emit('trigger door');
              });

            }).emit('authenticate', { token });

          });
        };

        const token = window.localStorage.getItem('scgdt');

        if (token) {
          $('#signin').hide();
          $('#main').show();
          return setupSocket(token);
        }
        else {
          $('#main').hide();
          $('#signin').show();
        }

        $('#signin button#submit').click((e) => {
          e.preventDefault();
          const n = $('#signin input#name').val();
          const p = $('#signin input#pw').val();
          $.ajax({
            type: 'POST',
            url: '/signin',
            data: { name: n, pw: p },
            dataType: 'json',
            success: (data) => {
              console.log('data', data);
              if (data.token) {
                window.localStorage.setItem('scgdt', data.token);
                setupSocket(data.token);
              }
            }
          });

        });

      })();
